<div class='component'>
  <div class='text-right'>
    <button (click)='openAddClientDialog()' class='default-btn' mat-button>Dodaj</button>
  </div>
  <div class='client-binding'>
    <div *ngFor='let client of listOfItems' class='row'>
      <div (click)='openAddClientDialog(client)' class='col'>
        <h6>Ime</h6>
        <h5>{{client.firstName}}</h5>
      </div>
      <div (click)='openAddClientDialog(client)' class='col'>
        <h6>Prezime</h6>
        <h5>{{client.lastName}}</h5>
      </div>
      <div (click)='openAddClientDialog(client)' class='col'>
        <h6>Telefon</h6>
        <h5>{{client.telephone}}</h5>
      </div>
      <div class='col'>
        <h6 style='visibility: hidden'>Opcija</h6>
        <button class='green-border-btn' mat-button>Pregled</button>
        <button (click)='delete(client.id)' class='red-border-btn' mat-button>Obriši</button>
      </div>
    </div>
  </div>
</div>
<mat-spinner #spinner diameter='25'></mat-spinner>
