<div>
  <app-form-select [config]='keyBrandSelectConfig' [group]='keyForm'></app-form-select>
  <app-form-input [config]='amountInputConfig' [group]='keyForm'></app-form-input>
  <app-form-input [config]='codeInputConfig' [group]='keyForm'></app-form-input>
  <app-form-input [config]='priceInputConfig' [group]='keyForm'></app-form-input>
  <app-form-select searchProperty='name' [config]='carBrandSelectConfig' [group]='keyForm'
                   bindValue='name'></app-form-select>
  <app-form-select-group [config]='idKeySubCategoriesGroupSelect' [group]='keyForm' [groupList]='listOfKeyCategories'
                         itemList='keySubCategories'></app-form-select-group>

  <div class='text-right'>
    <button mat-button class='default-btn' [disabled]='!keyForm.valid' (click)='saveKey()'>Sačuvaj</button>
  </div>
</div>
<mat-spinner #spinner diameter='25'></mat-spinner>
