<div class="component">
  <div class="text-right">
    <button mat-button class="default-btn" (click)="openAddServiceDialog()">Dodaj</button>
  </div>
  <mat-tab-group>
    <mat-tab label="Nedeljni pregled">
      <div class="tab-content">
        <app-service-table-binding (cb)="getAll()" [list]="listOfItems"></app-service-table-binding>
      </div>
      <mat-spinner #spinner></mat-spinner>
    </mat-tab>
    <mat-tab label="Opšti pregled">
      <div class="tab-content">
        <app-service-table-binding></app-service-table-binding>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
