<div class='component'>
  <div class='text-right'>
    <button class='default-btn' mat-button [matMenuTriggerFor]='menu'>Dodaj</button>
    <mat-menu #menu='matMenu'>
      <button mat-menu-item (click)='openAddServiceDialog()'>Servis kljuc</button>
      <button mat-menu-item (click)='openAddKeySubCategoryDialog()'>Usluga</button>
    </mat-menu>
  </div>
  <mat-tab-group>
    <mat-tab label='Nedeljni pregled'>
      <mat-spinner #spinner diameter='25'></mat-spinner>
      <div class='tab-content'>
        <app-service-table-binding (cb)='getServicesInCurrentWeek()'
                                   [list]='listOfCurrentWeekServices'></app-service-table-binding>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>

        <div class='text-right mt-2'>
          <h5>Ukupno: <b>{{listOfCurrentWeekServices | sumGross}}</b></h5>
        </div>

      </div>
    </mat-tab>
    <mat-tab label='Opšti pregled'>
      <div class='tab-content'>
        <form [formGroup]='dateRangeForm'>
          <mat-form-field appearance='outline' class='example-form-field'>
            <mat-label>Željeni datumi</mat-label>
            <mat-date-range-input [rangePicker]='rangePicker'>
              <input matStartDate placeholder='Start date' formControlName='startDate'>
              <input matEndDate placeholder='End date' formControlName='endDate'>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]='rangePicker'></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button style='width: 100%;' class='red-border-btn'
                        (click)='getServicesFromRange()'
                        matDateRangePickerApply>
                  Filtriraj
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </form>
        <mat-spinner #periodSpinner diameter='25' style='margin: 2em auto'></mat-spinner>
        <app-service-table-binding [list]='listOfDateRangeServices'></app-service-table-binding>

        <div class='text-right'>
          <h5>Ukupno: <b>{{listOfDateRangeServices | sumGross}}</b></h5>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
