@import "src/styles"
.huge-h1
  font-size: 100px
  color: #c2c2c2
  font-weight: bold
.centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  min-height: 60vh
  -webkit-transition: .3s linear
mat-form-field
  display: none
  font-size: 40px
mat-spinner
  display: none
