<div class='component'>
  <div class='centered' id='centered'>
    <h1 class='huge-h1' id='huge-label' (click)='showSearch()'>Započni pretragu...</h1>
    <div [formGroup]='searchForm' style='width: 70%'>
      <mat-form-field id='search'>
        <input matInput (input)='inputChange()' formControlName='search' [(ngModel)]='searchText'>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-spinner #spinner diameter='50'></mat-spinner>
  </div>

  <div class='row key-row' *ngFor='let key of listOfKey'>
    <div class='col' (click)='openEditKeyDialog(key)'>
      <h6>Šifra</h6>
      <h5>{{key.code}}</h5>
    </div>
    <div class='col' (click)='openEditKeyDialog(key)'>
      <h6>Količina</h6>
      <h5>{{key.amount}}</h5>
    </div>
    <div class='col' (click)='openEditKeyDialog(key)'>
      <h6>Akutelna cena</h6>
      <h5>{{key.idCurrentPrice.price}}</h5>
    </div>
    <div class='col'>
      <h6 style='visibility: hidden'>Opt</h6>
      <button mat-button class='green-border-btn' (click)='openKeyOverviewDialog(key)'>Pregled</button>
      <button class='red-border-btn' mat-button>Obriši</button>
    </div>

  </div>
</div>
