@import "src/styles"

mat-drawer
  width: 25vh
  padding: 2em

.fa
  pointer-events: none

h5
  -webkit-transition: .3s ease
  cursor: pointer

.active
  background-color: $default-red
  color: #ffffff
  padding: .5em
  border-radius: 18px

.inactive
  color: $light-silver
  padding: .5em
  border-radius: 18px

@media screen and (max-width: 570px)
  mat-drawer
    width: 80%

    img
      width: 100px
      height: 100px

