<mat-drawer-container class='example-container' fullscreen hasBackdrop='false'>
  <mat-drawer #drawer [mode]="isMobile ? 'over':'side'" [opened]='!isMobile'>
    <div class='text-right'>
      <button *ngIf='isMobile' (click)='drawer.toggle()' mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class='text-center'>
      <img class='img-fluid text-center' src='assets/img/logo.png'>
      <a (click)='loadDashboardComponent()'>
        <h5 (click)='changeColor($event)' id='overview-btn'>
          <mat-icon>home</mat-icon>
        </h5>
      </a>
      <app-component-activator icon='auto_stories' (load)='loadCodeBookComponent()'
                               title='Šifarnik'></app-component-activator>
      <app-component-activator icon='account_circle' (load)='loadClientComponent()'
                               title='Klijenti'></app-component-activator>
      <app-component-activator icon='vpn_key' (load)='loadKeyComponent()'
                               title='Ključevi'></app-component-activator>
      <app-component-activator icon='class' (load)='loadServicesComponent()'
                               title='Servisi'></app-component-activator>
      <app-component-activator icon='receipt' (load)='loadReportsComponent()'
                               title='Izveštaji'></app-component-activator>
      <app-component-activator icon='email' (load)='loadMessageComponent()'
                               title='Poruke'></app-component-activator>
      <app-component-activator icon='pie_chart' (load)='loadAnalyticsComponent()'
                               title='Analitika'></app-component-activator>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar (menuBtnClick)='drawer.toggle()' [header]='header'></app-navbar>
    <div #target></div>
  </mat-drawer-content>
</mat-drawer-container>
