<div [formGroup]='group'>
  <mat-form-field appearance='outline'>
    <mat-label>Izaberi opciju</mat-label>
    <input [(ngModel)]='searchText'
           [formControlName]='config.name' [matAutocomplete]='auto'
           matInput
           type='text'>
    <mat-autocomplete #auto='matAutocomplete' [displayWith]='displayFn'>
      <mat-option (click)='onOptionClick.emit(true)' *ngFor='let carBrand of config.options | carBrand:searchText'
                  [value]='carBrand'>
        {{carBrand.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
