@import "src/styles"

button
  width: 10%

.m-t-2
  margin-top: 2em
h4
  background-color: $component-background
  padding: .25em
.expansion-content
  padding: 2em
  height: 400px
  overflow-y: scroll
  overflow-x: hidden
