@import "src/styles"

.wrapper
  background-color: $component-background
  height: 100vh
.row
  margin-left: 0 !important
  margin-right: 0 !important
.login-form
  background-color: #fff
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  padding: 2em
  margin-top: 12%
button
  margin-top: 2em
mat-spinner
  display: none
  margin-top: 2em
  margin-left: 45%
@media screen and (max-width: 960px)
  .login-form
    margin: 8em 3em
