<div class="text-right">
  <button (click)="openAddKeyCategoryDialog()" class="default-btn" mat-button>
    Dodaj
  </button>
</div>
<mat-spinner #spinner diameter="25"></mat-spinner>
<div *ngFor="let keyCategory of listOfItems" class="row">
  <div (click)="openAddKeyCategoryDialog(keyCategory)" class="col-5">
    <h6>{{ keyCategory.name }}</h6>
  </div>
  <div (click)="openAddKeyCategoryDialog(keyCategory)" class="col-5">
    <h6>{{ keyCategory.createdDate }}</h6>
  </div>
  <div class="col-2">
    <button (click)="delete(keyCategory.id)" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
