<label class='custom-upload'>
  <input (change)='imageUploadService.addFiles($event.target)' id='customFile' type='file'>
  <img height='100px' src='assets/img/upload-image-icon-png-11.jpg' width='100px'>
</label>
<div *ngIf='imageUploadService.fileUpload' [style.background-image]="'url(' + imageUploadService.fileUpload.url + ')'"
     class='img-card'>
  <button (click)='imageUploadService.clearUpload()' class='m-2' color='warn' mat-mini-fab>
    <mat-icon>delete</mat-icon>
  </button>
</div>
<mat-progress-bar [value]='imageUploadService.isUploaded ? 100:0' class='mt-3 mb-3'
                  mode='determinate'></mat-progress-bar>
