$default-black: #121212
$less-black: #282828
$default-red: #ff4040
$light-silver: #999
$component-background: #f7f7f8

h1, h2, h3, h4, h5, a, li, mat-checkbox, p, th, tr, td, button, .mat-step-text-label
  font-family: 'Work Sans', sans-serif !important

.default-btn
  background-color: $default-red
  color: #ffffff
  font-size: 16px
  font-weight: bold
  padding: .3em 0

.component
  padding: 2em

.inline
  display: inline-flex
